.cart {
  /* width: 100%; */
  background-color: #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  margin-left: 30px;
}

.cart h3 {
  margin: 0px;
  padding-bottom: 10px;
}

.cart h4 {
  display: block;
  margin-right: 80px;
}
