.header {
  text-align: center;
  background-color: #e5e5e5;
  padding: 30px 0;
  width: 75%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
}

.header h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.header h5 {
  font-size: 20px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
}
